.ch {
  margin-top: 5rem;
}

.ch-i {
  width: 100%;
}

.ch--odd .g--6:first-child  {
  order: 2;
}

.ch--odd .g--6:last-child  {
  order: 1;
}

.ch-i {
  margin-bottom: 1rem;
}

@media screen and (min-width: 835px) {
  .ch--odd .g--6:first-child  {
    order: 1;
  }

  .ch--odd .g--6:last-child  {
    order: 2;
  }

  .ch .g--6:first-child .ch-c {
    padding-right: 1rem;
  }

  .ch .g--6:last-child .ch-c {
    padding-left: 1rem;
  }

  .ch--odd .g {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}
