.ch {
  margin-top: 5rem;
}

.ch-i {
  width: 100%;
}

.ch--odd .g {
  flex-direction: column-reverse;
}

.ch-i {
  margin-bottom: 1rem;
}

@media screen and (min-width: 835px) {
  .ch .g--6:first-child .ch-c {
    padding-right: 1rem;
  }

  .ch .g--6:last-child .ch-c {
    padding-left: 1rem;
  }

  .ch--odd .g {
    flex-direction: row;
  }
}
