.vid {
  flex: 1;
  position: relative;
}

.vid-1 {
  background-image: url(../images/southend.jpg);
}

.vid-2 {
  background-image: url(../images/teacher.jpg);
}

.vid-ci {
  left: 10%;
}

@media screen and (min-width: 960px) {
  .vid-split {
    display: flex;
  }
}
