.cd {
  position: relative;
}

.cd:hover {
  cursor: pointer;
}

.cd-i {
  position: absolute;
  top: 0;
  right: 1rem;
}

.cd-ic--anne {
  background-image: url(../images/anne.jpg);
}

.cd-ic--marty {
  background-image: url(../images/marty.jpg);
}

.cd-ic--zorica {
  background-image: url(../images/zorica.jpg);
}

.cd-ic--lee {
  background-image: url(../images/lee.jpg);
}

.cd-ic--panos {
  background-image: url(../images/panos.jpg);
}

.cd-ic--rinchett {
  background-image: url(../images/rinchett.jpg);
}

.cd-ic--brown {
  background-image: url(../images/brown.jpg);
}

.cd-ic--fulp {
  background-image: url(../images/fulp.jpg);
}

.cd-ic--arrigo {
  background-image: url(../images/arrigo.jpg);
}
