.cd {
  position: relative;
}

.cd:hover {
  background-color: #ff9900 !important;
}

.cd:hover {
  cursor: pointer;
}

.cd-i {
  position: absolute;
  top: 0;
  right: 1rem;
}

.cd-ic--anne {
  background-image: url(../images/anne.jpg);
}

.cd-ic--marty {
  background-image: url(../images/marty.jpg);
}

.cd-ic--zorica {
  background-image: url(../images/zorica.jpg);
}
