.hro {
  background-image: url(../images/boston_yes.jpg);
}

.hro-st {
  color: #fff;
}

.hro-bc {
  padding: 15px;
}

.hro-bc .btn,
.hro-bc .btn:link,
.hro-bc .btn:visited {
  color: #091f2f;
  background-color: #fff;
  margin: 5px 0;
  display: block;
}

.hro-bc .btn:hover {
  color: #091f2f;
  background-color: #FF9900;
}

@media screen and (min-width: 960px) {
  .hro {
    padding: 100px 0;
  }

  .hro-bc {
    display: flex;
    justify-content: center;
    padding: 35px;
  }

  .hro-bc .btn,
  .hro-bc .btn:link,
  .hro-bc .btn:visited {
    margin: 0 15px;
  }
}
