.vid--home {
  background-image: url(../images/home.jpg);
}

.b-c--top {
  margin-top: 25px !important;
}

@media screen and (min-width: 960px) {
  .b-c--top {
    margin-top: 100px !important;
  }
}
